@CHARSET "UTF-8";

/* Semi-reset */
p,
tbody,
td,
tr,
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 11px;
}

body {
  width: 617px;
}

table {
  table-layout: fixed;
  border-color: black;
  border-style: solid;
  border-spacing: 0;
  margin: 0;
}

tbody {
  vertical-align: top;
  font-size: 10%;
}

td {
  padding: 2px;
}
